@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

*{
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     border: none;
     text-decoration: none;
     text-transform: capitalize;
     transition: all .2s linear;
}

:root {
     --blue: rgb(0, 123, 255);
     --green: #2fcf10;
     --dark-green: #064210;
     --grey: #ccc;
     --text-color-1: #fff;
     --text-color-2: #000;
     --box-shadow: 0 .5rem 1.5rem rgba(250, 244, 244, 0.102);
}

html {
     font-size: 67.5%;
     overflow-x: hidden;
     scroll-padding-top: 4rem;
     scroll-behavior: smooth;
}

html::-webkit-scrollbar {
     width: 8rem;
}

html::-webkit-scrollbar-track {
     background: transparent;
}

html::-webkit-scrollbar-thumb {
     background: var(--blue);
}

body {
     background: var(--bg-color-1)
}

header {
     display: block;
     position: fixed;
     z-index: 2;
     top: 0;
     left: 0;
     padding: 10px;
     width: 100%;
     background: var(--dark-green);
}

header .head-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
 }

header .head-container img {
     width: 50px;
}

header nav {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: center;
     font-size: 2rem;
}

nav a:visited,
nav a:link {
     color: var(--text-color-1);
     text-decoration: none;
}

nav > ul {
     display: none;
     display: inline;
     padding: 0;
}

nav > ul > li {
     display: inline-block;
     list-style: none;
     margin: 0 5px 0 5px;
     text-decoration: none;
}

section {
     margin-top: 1.2rem;
     padding: 2rem 7%;
}

.home {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     gap: 1.7rem;
     padding-top: .5rem;
}

.title-container .title {
     display: block;
     position: relative;
     color: var(--text-color2);
     text-align: center;
     padding-top: 10rem;
     font-size: 3.5rem;
}

.home .image {
     flex: 1 1 45rem;
     
}

.home .image img {
     width: 100%;
     height: 40rem;
     margin-top: .5rem;
}

.home .content {
     flex: 1 1 45rem;
     gap: 5rem;
}

.home .content .cont {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-around;
     margin-top: 2rem;
}

.home .content h3 {
     color: var(--text-color2);
     font-size: 2.5rem;
}

.home .content p,
.about .heading, 
.about .about-container .about-detail {
     color: var(--text-color2);
     font-size: 2rem;
     line-height: 1.7;
     padding: 1rem 0;
}

.home .about-container p {
     transform: none;
}

.home button {
     width: 8rem;
     padding: 0.2rem;
     font-weight: bold;
     background-color: var(--green);
     color: var(--text-color-1);
     border-radius: 0.8rem;
     border-color: 1px solid var(--text-color-2);
}

#image {
     position: relative;
     cursor: pointer;
}

#image img {
     position: absolute;
     left: 0;
     -webkit-transition: opacity 1s ease-in-out;
     -moz-transition: opacity 1s ease-in-out;
     -o-transition: opacity 1s ease-in-out;
     transition: opacity 1s ease-in-out;
}

#image img.top:hover {
     opacity: 0;
}

#refresh {
     background-color: var(--blue);
}
 
.home input {
     width: 100%;
     font-size: 2.5rem;
     margin-top: 1.5rem;
     text-align: center;
     border: 1px solid var(--grey);
     border-radius: .5rem;
}

.home #msg {
     font-size: 2rem;
     border-radius: .5rem;
     padding: 1.5rem;
     text-align: center;
     margin-top: 2rem;
}

.about .about-detail {
     color: var(--text-color2);
     font-size: 1.5rem;
     line-height: 1.7;
     padding: 1rem 0;
}

.aside .image img {
     width: 50%;
     height: 70rem;
     margin-top: .5rem;
     margin-left: 25%;
     border-radius: 50%;
}

.footer {
     background: var(--grey);
     font-size: 1.5rem;
     padding: 1rem 0;
     text-align: center;
}

small {
     margin-left: 1rem;
     font-weight: 900;
     background: var(--green);
     padding: .5rem;
     border-radius: .5rem;
}

/* media queries */

@media (max-width: 991px) {

     html {
          font-size: 55%;
     }

     header {
          padding: 1.5rem 2rem;
     }

     .home .image img {
          width: 100%;
     }

}

@media (max-width: 768px) {

     .home .image img {
          width: 100%;
     }

     .aside .image img {
          width: 50%;
          margin-left: 25%;
          height: 30rem;
     }

}

@media (max-width: 450px) {

     html {
          font-size: 50%;
     }

     .home .image img {
          width: 100%;
     }

     .aside .image img {
          width: 35%;
     }

}





